@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rubik+Dirt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 60px;
  }
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-body  bg-light-100 text-dark tracking-wide;
  }

  header {
    @apply fixed top-0 z-50 flex w-full h-[var(--header-height)] items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6 bg-dark text-light-100 duration-200;
  }

  footer {
    @apply flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6  bg-dark text-light-100;
  }

  h1,
  h2 {
    @apply font-title;
  }
}

@layer components {
  .headerLink {
    @apply max-w-xs mx-auto p-4 md:p-2 cursor-pointer transition duration-500 hover:text-yellow-700 hover:bg-gray-700;
  }

  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }

  .menuDesktop {
    @apply md:relative md:flex md:space-x-2 md:min-h-0 md:px-0 md:py-0 md:space-y-0 md:translate-x-0 md:text-base;
  }

  .menuMobile {
    @apply fixed left-0 right-0 min-h-screen px-4 pt-8 space-y-4 bg-dark text-2xl transform text-center transition duration-300;
  }

  .title {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-6xl;
  }

  .subtitle {
    @apply text-sm sm:text-base md:text-xl lg:text-2xl xl:text-3xl;
  }

  .socialIcons {
    @apply rounded-full shadow-md shadow-yellow-700 p-6 cursor-pointer hover:scale-105 hover:bg-purple hover:text-white ease-in duration-300;
  }

  .timeline-img {
    @apply h-24 w-24 object-cover rounded-full shadow-md border-4 bg-purple border-yellow-500 xs:absolute md:mx-auto md:left-0 md:right-0;
  }
  .timeline-container {
    @apply relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-auto md:pl-16;
  }
  .timeline-container-left {
    @apply md:ml-0 md:mr-auto md:pl-0 md:pr-16;
  }
  .timeline-pointer {
    @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-gray-100 xs:top-11 xs:left-26 md:left-14;
  }
  .timeline-pointer-left {
    @apply md:left-auto md:right-14;
  }
  .summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
